#page-header {
  background-color: lightcyan;
  border-color: #16ad80;
  border-style: solid;
}

.col-md-6 {
  background-color: #edf3fc;
  border-color: #16ad80;
  border-style: solid;
}

.output {
  /* display: none; */
}

.output img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  padding: 4px;
  border-color: #16ad80;
  border-style: solid;
}

figcaption {
  text-align: center;
  font-size: 10pt;
}
