#page-header {
  background-color: lightcyan;
  border-color: #16ad80;
  border-style: solid;
}

.col-md-6 {
  background-color: #edf3fc;
  border-color: #16ad80;
  border-style: solid;
}

.output {
  /* display: none; */
}

.output img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 250px;
  padding: 4px;
  border-color: #16ad80;
  border-style: solid;
}

.output p {
  text-align: justify;
  margin: 0 auto;
  width: 80%;
}

figcaption {
  text-align: center;
  font-size: 10pt;
}

.term {
  font-style: bolder;
  font-size: 18pt;
}
